


.form__container{
    width: 100%;
    background-color: rebeccapurple;
    padding: 1em 3em;
    gap: 1em;
    display: flex;
    flex-direction: column;
   
}

.form__header{

    /* background-color: red; */
    gap: 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    }
    
    .buttonClose{
        /* width: 30px; */
        background-color: gray;
    }

.form__form{
    background-color:darkslategray ;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;

}
.form__form button{

    background-color:grey;
    width: 50px;
    
}

