#sobre-mi {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 40px;
  height: 100vh;
  width: 50%;
}

.skills {
  /* max-width: 600px; */
  margin: 0 auto;
}

.skills h2 {
  font-size: 2.5rem;
  margin-top: 60px;
  margin-bottom: 20px;
  color: orangered;
  text-shadow: 2px 2px 8px rgba(255, 255, 0, 0.342);
}

.skills ul {
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 80px;
 list-style:on;
 padding: 0 6em;
 gap: 30px;
 font-size: 1.5rem;

}

.skills li {
  margin: 0px 0;

}
