nav {
    display: flex;
    padding: .5em .5em;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;

  }
  
  ul {
    list-style-type: none;
    gap: .8em;
    display: flex;
    justify-content:space-between;
   
  }
  
  li {

 
      
}
  
  a {

    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
  }
  