.app{
  background-color: rgba(226, 130, 130, 0.782);

  box-sizing: border-box;
  width: 180%;
  margin: 0;
  padding: 0;
  gap: 0;

}
.contact_me{

  background-color:rgb(52, 53, 53);
 color: white;
  width: 90px;
  padding: .5em 0.2em;
  position: absolute;
  margin-top: 2.6em;
  margin-left: 33em;
  
}